<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="main-page">
        <div class="table-container">
            <h1>Students</h1>

            <br>
            <table style="margin-bottom: 30px;">
                <tr>
                    <th>USN</th>
                    <th>Name</th>
                    <th>Branch</th>
                    <th>Action</th>
                </tr>
                <% students.forEach(student=> { %>
                    <tr>
                        <td>
                            <%= student.USN %>
                        </td>
                        <td style="text-align: center;">
                            <%= student.NAME %>
                        </td>
                        <td style="text-align: center;"">
                            <%= student.BRANCH %>
                        </td>
                        <td>
                            <a href=" /students/delete/<%=student.USN %>">Delete</a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
            <h2 style="margin-top:30px;">Add New Student</h2>
            <form action="/students/add" method="post" class="form-row">
                <input type="text" name="usn" placeholder="USN (eg. 4NM23CS001)" required>
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="branch" placeholder="Branch" required>
                <button>ADD</button>
            </form>
            <a href="/dashboard" style="display: inline-block; margin-top: 20px; padding: 5px !important;">← Back to Dashboard</a>
        </div>
    </div>
</body>

</html>